<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Debug 专属 ADB 接口，仅合入 debug 构建 -->
        <receiver
            android:name="com.zjr.hesimusic.adb.AdbDatabaseReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
    </application>
</manifest>
